* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.hiden {
  display: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  background: url("img/header-background.png");
  background-repeat: no-repeat;
  width: 100%;
}
header .masthead {
  color: #ffffff;
}
header .masthead h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
header .masthead h2 {
  margin-top: 30px;
  font-size: 22px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
header .masthead div {
  margin-top: 70px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
header .masthead div a {
  padding: 20px 60px;
  background-color: #e84545;
  font-size: 13px;
  color: #ffffff;
}
header nav .nav-item {
  font-size: 13px;
}

.features .features-item {
  padding: 0 45px;
}
.features .features-img {
  text-align: center;
  padding-bottom: 30px;
}
.features h4 {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  padding-bottom: 15px;
}
.features p {
  text-align: center;
  color: #ptxt;
}

.works {
  padding: 0;
}
.works img {
  width: 100%;
  height: 100%;
}
.works .work3 {
  position: relative;
}
.works .work3 h5 {
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 40%;
}
.works .work3 h6 {
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 40%;
}

.team .team-item img {
  width: 100%;
}
.team h5 {
  margin-top: 25px;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}
.team h6 {
  text-transform: uppercase;
  font-size: 13px;
  color: #ea5454;
  font-family: "Open Sans", sans-serif;
}
.team p {
  margin-top: 20px;
  color: #6c7279;
  font-size: 14px;
}
.team .team-social {
  margin-top: 40px;
  margin-bottom: 12px;
}
.team .team-social a {
  padding: 12px;
  border: 1px solid #e8ecee;
}
.team .team-social a img {
  width: 16px;
  height: 16px;
}

.clients {
  padding: 0;
}
.clients .clients-quote {
  background-color: #53354a;
}
.clients .slider-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 575px;
  position: relative;
  padding: 110px 70px;
}
.clients .slider-text p {
  font-size: 35px;
  font-family: "Cardo", serif;
  color: #ffffff;
}
.clients .slider-text h6 {
  color: #ffffff;
  font-weight: 600;
}
.clients .slider-text .dots {
  width: 100%;
  display: flex;
  justify-content: center;
}
.clients .slider-text .dot {
  background-color: #755d6e;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 2px;
}

.download {
  padding: 100px 0;
}
.download h2 {
  text-align: center;
  color: #2d3033;
  font-size: 28px;
}
.download h3 {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #2d3033;
  font-weight: 800;
}
.download a {
  font-size: 13px;
  color: #ffffff;
  background-color: #e84545;
  padding: 20px 90px;
}
.download div {
  margin-top: 35px;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #3a3e64;
  color: #ffffff;
}
footer .footer-top h5 {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .footer-top p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-top .footer-icons {
  width: 100%;
  text-align: center;
  margin: 32px 0;
}
footer .footer-top .footer-icons a {
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 12px;
}
footer .footer-top .footer-icons a img {
  width: 16px;
  height: 16px;
}
footer .footer-bottom {
  background-color: #313454;
  color: #808080;
  padding: 20px;
}
footer .footer-bottom p {
  text-align: center;
}
footer .footer-bottom span {
  color: #ffffff;
}
footer .footer-bottom .heart {
  color: #e84545;
}

@media screen and (min-device-width: 992px) {
  .team {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .team .team-item {
    margin-bottom: 50px;
  }

  header {
    background-size: cover;
  }

  .nav-item {
    padding: 45px 20px;
  }

  .masthead {
    padding: 150px 6.3157894737%;
  }
  .masthead h1 {
    font-size: 65px;
  }

  .features {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .features .features-item {
    padding-bottom: 80px;
  }

  .footer-top {
    padding: 70px;
  }
}
@media screen and (max-device-width: 991px) {
  .team {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .team .team-item {
    margin-bottom: 50px;
  }

  header {
    background-size: cover;
  }

  .nav-item {
    padding: 45px 20px;
  }

  .masthead {
    padding: 100px 6.3157894737%;
  }
  .masthead h1 {
    font-size: 50px;
  }

  .features {
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .features .features-item {
    padding-bottom: 60px;
  }

  .footer-top {
    padding: 70px;
  }
}
@media screen and (max-device-width: 767px) {
  .team {
    padding-top: 50px;
  }
  .team .team-item {
    margin-bottom: 50px;
  }

  header {
    background-size: auto;
  }

  .nav-item {
    padding: 10px 0;
  }

  .masthead {
    padding: 50px 2%;
  }
  .masthead h1 {
    font-size: 40px;
  }

  .features {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .features .features-item {
    padding-bottom: 40px;
  }

  .footer-top {
    padding: 20px 0;
  }
  .footer-top h5 {
    margin-top: 30px;
  }
}